<!DOCTYPE html>
<html lang="pt-br">
{% load static %} <!-- Permite carregar itens estáticos aqui. Nesse caso usei para o fundo da página -->
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> <!-- Nosso CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>Viveiro de Mudas</title>

</head>
<body>
<div class="p-3 mb-2" style="background-image: url('{% static 'background.png' %}'); background-size: cover; background-position: center;"> <!-- Plano de fundo -->
    <form class="d-flex" role="search"> <!-- Barra de pesquisa -->
        <img src="../static/logo.png" width="10%px" style="margin-left: 5%;">
        <div class="input-group mb-3" style="margin-left: 10%; margin-top: 40px; width: 50%;">
            <input type="text" class="form-control" placeholder="Buscar por nome" aria-label="Buscar por nome" aria-describedby="button-addon2">
            <button class="btn btn-secondary" type="submit">
                <i class="bi bi-search" ></i> <!-- requer Bootstrap Icons -->
            </button>
        </div>
    </form>
    <br>
    <nav class="navbar navbar-expand-lg" style="background-color: rgba(176, 226, 176, 0.6); border-radius: 10px;"> <!-- Container com links para outras páginas -->
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white fw-bold" aria-current="page" href="/catalogo">Catálogo de Plantas</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link text-white" href="#">Manejo de Plantas</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link text-white" href="#">Técnicos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <a href="/" style="margin-top: 50px; color: white; margin-left: 50px;"> < Voltar para a página principal</a>
    <h1 style="color: white; margin-left: 50px;">Exibindo {{ plantas_tamanho }} plantas</h1>

    <!-- Reutilização da classe "secao_abaixo" da página inicial -->
    <div class="secao_abaixo" style="margin-top: 10px; height: auto;">
        {% for Planta in plantas %}
        <div class="planta_abaixo">
            <div class="parte_imagem">
                <img src="{{ Planta.imagem.url }}">

            </div>
            <div class="parte_texto">
                <p> {{ Planta.nome }} </p>
                <a> {{ Planta.nomeclatura }}</a>
                <br>
                <br>
                <br>
                <a> {{ Planta.regiao }}</a>
                <br>
                <a href=".." style="color: black ;text-decoration: underline; font-style: italic;">Ler mais sobre esta planta...</a>
            </div>
        </div>
        {% endfor %}
    </div>





    <div class="rodape">
        <a href="..">Sobre nós</a>
        <br><br>
        <a href="..">Doe para o viveiro</a>
        <br><br>
        <a href="..">Site IFPB</a>
    </div>



</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
