.formularioPesquisaExtensao {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #a9d3a1;
}

.formularioPesquisaExtensao button{
 
    background-color: #3c5c42;
    color: white;
}

