.sobre{
    padding: 60px 0;
    background-color: #e6f2e6;
    border-radius: 6px;
}



.about-image {
    max-width: 80%;
    border-radius: 20px;
}

h1, h2 {
    color: #0f3d1b;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}
